/home/*

!/home/.tmux.conf
!/home/.vimrc
!/home/.zshrc
!/home/.lesskey

!/home/.config
/home/.config/*
!/home/.config/vim
!/home/.config/fish
/home/.config/fish/*
!/home/.config/fish/config.fish
!/home/.config/fish/conf.d
!/home/.config/fish/conf.d/*
